:root{
    --black        : black;
    --white        : white;
    --c-main       : #0b3a62;
    --c-sec-red    : #f03856;
    --c-sec-white  : #f1f5f7;
    --c-sec-blue   : #25b5e9;
    --c-newsletter : #072744; 
    --c-footer     : #082c4c; 

    /* ------------- Fonts ------------- */
    --ff-main     : 'Muli', sans-serif;
    --ff-title    : 'Oswald', sans-serif;
    --ff-subtitle : 'Bebas Neue', sans-serif;

    --fs-h1:  9.45rem;
    --fs-title: 5.4rem;
    --fs-p: 1.2rem;
    --fs-extra: 1rem;

    --lh-xs: 0.9em;
    --lh-s: 0.95em;
    --lh-m: 1.25em;
    --lh-l: 1.5em;
}